# Ambiente virtual
venv/
.venv/

# Cache do Python
__pycache__/
*.pyc

# Banco de dados local
*.db
*.sqlite
*.sqlite3

# Arquivos do VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env

# Logs
*.log